@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: black;
    color: white;
}

.main{
    background-image: url("background.png");
    height:644px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px,100vw);
}
.main .box{
    height: 644px;
    width:100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top:0;
    
}
nav {
    max-width: 60vw;
    justify-content: space-between;
   display: flex;
   align-items: center;
   margin: auto;
   height: 100px;
}
nav img{
    width:130px;
    position:relative;
    z-index: 10;
    color: red;

}
nav button{
    position:relative;
    z-index: 10;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    height:calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap:23px;
    padding:0 30px;
}
.hero> :nth-child(1){
    font-family: "Poppins", sans-serif;

    font-weight: bolder;
    font-size: 56px;
text-align: center;

}
.hero> :nth-child(2){
    font-weight: 500;
    font:20px;
text-align: center;

}
.hero> :nth-child(3){
    font-weight: 400;
    font:16px;
text-align: center;

}
.seperation{
    border:solid 3px  rgb(206, 10, 59); 
    border-radius:70%/10px 10px 0 0;


}
.btn{
  padding:3px 8px;
  font-weight: 400px;
  background-color: rgba(248,243,243,0.021);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;

}
.btn-red{
    background-color: red;
    color: white;
    padding:3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.main input{
    color: white;
    padding:7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.btn-red-sm{
    background-color: red;
    color: white;
    
}
.first .span{
    
    padding:34px 0px;
    
}
.first{

    font-weight: 500;
    font-size: 22px;
    max-width: 70vw;
    margin:auto; 
    display: flex;
    flex-direction: column;
    
}



.first-row{
      font-weight: 500;
      font-size: 22px;
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; */
      max-width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:10px;


}
.first-row> .card{
    height: 290px;
    width: 190px;
    border:1px solid white;
    background-color: rgba(102, 13, 28,0.66);
    border-radius: 15px;
    border-color: rgba(102, 13, 28,0.66);
    display: flex;
    flex-direction: column;

}
.first-row > .card> :nth-child(1){
    margin:14px 0 2px 15px;

} 
.first-row > .card> :nth-child(2){
    font-size: 16px;
    font-weight: 300;
    margin:10px 15px;
}   
.first-row > .card> :nth-child(3){
    font-size: 16px;
    font-weight: 500;
    margin:10px 15px;
}   

.second{
    font-weight: 500;
    font-size: 22px;
    max-width: 70vw;
    margin:40px auto;
    display: flex;
    flex-direction: column;
    text-align: left;

}
.second-row{
    font-weight: 500;
    font-size: 22px;
    display: flex;
    max-width: 70vw;
   justify-content: center;
    align-items: center;
   gap:10px;

   

}
.second-row> .card{
    height: 330px;
    width: 210px;
    border:1px solid white;
    background-color: rgba(33, 3, 51, 0.66);
    border-radius: 15px;
    border-color: rgba(22, 16, 17, 0.66);
    display: flex;
    flex-direction: column;
}
.second-row > .card> :nth-child(1){
    margin:14px 0 2px 15px;

} 
.second-row > .card> :nth-child(2){
    font-size: 15px;
    font-weight: 300;

    margin:10px 15px;
}   
.second-row > .card> :nth-child(3){
    width:60px;
    margin:0px 10px 10px 110px;
    

}
.second .span{
    padding:34px 0px;

}
@media screen and (max-width:750px){
      nav{
        max-width: 90vw;
      }
      .main input{
        padding:7px 53px 8px 14px;
      }
      .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
      }
    .first-row{
        flex-wrap: wrap;
      }
      .second-row{
        flex-wrap: wrap;
      }
      .hero> :nth-child(1){
     font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
       }
       .hero> :nth-child(3){
        font-size: 18px;
       }
       .faq h2{
        text-align: center;
        font-size: 32px;
       }
       footer{
        max-width: 90vw;
       }
       .footer-item{
        align-items: center;
       }
}
.faq{
    background-color: black;
    color: white;
    padding:34px;

}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox:hover{
    background-color: #414141;
    transition: all 1s ease-out;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding:24px;
    font-size: 24px;
    max-width:60vw;
    margin:34px auto;
    cursor: pointer;
    justify-content: space-between;
} 
footer{
    color: white;
   max-width: 60vw;
   margin: auto;
   padding:60px;
   font-size: 14px;
}
footer .qa{
    padding:34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    max-width: 60vw;
    margin:auto;
     

}
@media screen and (max-width:750px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
         gap:25px;
    
    }
}
.footer a{
   color:white;
   padding:10px;

}
.footer-item{
    display: flex;
    flex-direction: column;

    
}


